* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --total-width: 1240px;
}

body {
    background-color: #eeecec;
    margin: 0 0;
    height: 100%;
}
header{
    position: relative;
    
}

.head {
    margin: 10px 0 auto;
    display: flex;
    align-items: center;
    max-width: var(--total-width);
    padding: 0 30px;
    justify-content: space-between;
    position: relative;
    z-index: 4;
}
.main-page{
    text-decoration: none;
    color: #000000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.logo__pic {
    transition: transform .8s ease-in-out;
    
}

.logo__pic:hover {
    transform: rotate(180deg);
}

.logo__name {
    font-family: "Rufina", serif;
    padding-left: 10px;
}

.logo__name_bold {
    font-weight: bold;
    font-family: "Oxygen";
    padding-left: 0;
}

.cartpic {
    display: inline;
}

.menu {
    display: flex;
    align-items: center;
    display: none;
}

.menu__item {
    margin: 10px 10px;
    text-decoration: none;
    color: #000000;
    transition: filter .3s ease-in-out;
}

.menu__item_higlighted {
    font-weight: bold;
    color: #47c27ea8;
    font-style: italic;
    text-decoration: underline;
}

.menu__item:hover {
    filter: drop-shadow(2px 4px 2px black);
}

.content {
    
    max-width: var(--total-width);
    
    display: flex;
    gap: 30%;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 30px auto;
    width: 90%;
}

.layleft {
    width: 100%;

}

.payment-section {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.cartpic2 {
    display: none;
    position: relative;
}

.cartpic2__cart {
    position: absolute;
    top: 25%;
    left: 30%;
}

.payment-section__title {
    margin-bottom: 15px;
}

.payment-section__head {
    display: flex;
    align-items: top;
}

.payment-section__info {
    margin-top: 10px;
}

.infobox {
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.pole {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #00000020;
}

.infobox_divided {
    display: flex;
    justify-content: space-between;
}

.infobox_divided>.pole:first-child {
    width: 62%;
}

.infobox_divided>.pole:nth-child(2) {
    width: 32%;
}

.infobox_reverse {
    display: flex;
    justify-content: space-between;
}

.infobox_reverse>.pole:first-child {
    width: 32%;
}

.infobox_reverse>.pole:nth-child(2) {
    width: 62%;

}

.button__item {
    background-color: #00D276;
    margin: 10px 0;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 60px;
    color: #ffffff
}

.layright {
    width: 100%;
    margin: 0 auto;
}

.line {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #00000011;
}

.right {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px #584d4dc5;
    padding: 0 20px;
    margin-bottom: 40px;
}

.item {
    display: grid;
    grid-template: 2fr 3fr / 3fr 3fr 8%;
    width: 100%;
    align-items: center;
    grid-auto-flow: column;
    column-gap: 10px;

}

.item__picv {
    grid-area: 2/3;
}

.item__picx {
    grid-area: 1/3;
    align-self: flex-end;
}

.item__ammount {
    grid-area: 2/2;
    justify-self: end;
    opacity: 0.50;
}

.item__price {
    opacity: 0.50;
}

.item__name {
    align-self: flex-end;
    font-weight: bold;
}

.right__prodprice {
    display: flex;
    justify-content: space-between;
    margin: 23px;
    opacity: 0.5;
}

.right__prodprice_bold {
    opacity: 1;
    font-weight: bold;
}

.basement {
    position: relative;
    background-color: #ffffff;
    padding-bottom: 0px;
}

.basement__conteiner {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    padding: 50px 0px 0px 30px;
    max-width: var(--total-width);
    flex-direction: column;
    align-items: start;
    gap: 40px;
    font-size: 150%;
    position: relative;
    z-index: 3;
    
}

.logo_adjusted {
    align-items: center;
    font-size: 25px;
}

.socials-container {
    padding-bottom: 20px;

}

.address__other {
    margin: 0 auto;
}

.socials {
    display: flex;
    flex-direction: column;
}

.basement__right {
    display: flex;

}

.basement__pic {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;
}

.social-links__pic-link {
    margin-right: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
    z-index: 3;
}

.social-links__pic-link__pic:hover {
    transform: scale(1.5);
}

.basement__pic2 {
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width:720px) {
    .head {
        margin: 10px auto 120px auto;
    }

    .logo {
        font-size: 18px;
    }

    .menu {
        display:inline;
    }
    .cartpic {
        display: none;
    }

    .layleft {
        width: 50%;
    }

    .content {
        margin: 0 auto 120px auto;
        width: 100%;
        flex-flow: row;
        
    }

    .cartpic2 {
        display: inline;
    }

    .layright {
        
        width: 50%;
        margin: 0 auto;
    }

    .infobox {
        width: 100%;
    }
    .button__item {
        width: 60%;
    }

    .basement__conteiner {
        flex-direction: row;
        align-items: start;
        gap: 200px;
        font-size: 100%;
        padding-bottom: 160px;
    }
    .basement__pic {
        display: inline;
    }

    .basement__pic2 {
        display: none;
        
    }

    .picture {
        width: 100%;
    }
};